<a href="/" target="_self">Home</a>
<form action="/new" method="post">
    <label>
        Username:
        <input minlength="1" required placeholder="Please enter your username..." type="text" name="username" id="username">
    </label>

    <label>
        Message:
        <textarea minlength="1" required name="body" id="message" placeholder="Please enter your message here..."></textarea>
    </label>

    <button type="submit">Submit</button>
</form>